{% extends "_layout.njk" %}

{% block inspection %}
	{# <div class="inspection inspection-contact"></div> #}
{% endblock %}

{% block content %}
	<main class="container">
		<section class="hero section_hero section" aria-labelledby="hero__title">
			<div class="central">
				<div class="hero__content">
					<h1 class="hero__title" id="hero__title">Contact&nbsp;Us</h1>

					<div class="hero__text hero__text_narrow">
						<p class="hero__paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
							ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et&nbsp;magnis dis parturient montes,
							nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque&nbsp;eu, pretium quis, sem.
						</p>
					</div>
				</div>
			</div>
		</section>

		<section class="request section_request_contact section" aria-labelledby="request__title">
			<div class="central central_request_contact">
				<h2 class="visually-hidden" id="request__title">Contact&nbsp;us</h2>

				<div class="form__wrapper">
					<form class="form" action="php/send-request.php" method="post">
						<div class="form__elements">
							<div class="form__element">
								<label class="form__label" for="form__name">Your name</label>
								<input class="form__input" id="form__name" type="text" placeholder="John Doe" name="name" data-required="true">
							</div>
							<div class="form__element">
								<label class="form__label" for="form__phone">Phone</label>
								<input class="form__input" id="form__phone" type="tel" placeholder="xxx-xxxx-xxx" name="phone" data-required="true">
							</div>
							<div class="form__element">
								<label class="form__label" for="form__email">Your email</label>
								<input class="form__input" id="form__email" type="email" placeholder="JDoe@email.com" name="email" data-required="true">
							</div>
							<div class="form__element">
								<label class="form__label" for="form__organization">Organization</label>
								<input class="form__input" id="form__organization" type="text" placeholder="Org. Name" name="organization">
							</div>
						</div>

						<label class="form__label" for="form__text">Message</label>
						<textarea class="form__textarea" id="form__text" type="text" placeholder=". . . ." name="text"></textarea>

						<button class="form__button button button_dark">Send</button>
						<p class="form__message">Success!</p>
					</form>
				</div>
			</div>
		</section>

		<section class="communications section_communications section" aria-labelledby="communications__title">
			<div class="central">
				<h2 class="visually-hidden" id="communications__title">Communications</h2>

				<ul class="communications__blocks">
					<li class="communications__block">
						<svg class="communications__icon svg" width="64" height="64" aria-hidden="true">
							<use xlink:href="svg/sprite.svg#contacts-phone"></use>
						</svg>
						<a class="communications__link" href="tel:+xxxxxxxxxx">Phone&nbsp;no. <br> +xxxx xxx xxx</a>
					</li>
					<li class="communications__block">
						<svg class="communications__icon svg" width="64" height="64" aria-hidden="true">
							<use xlink:href="svg/sprite.svg#contacts-email"></use>
						</svg>
						<a class="communications__link" href="mailto:info@elysian.co">info@elysian.co</a>
					</li>
					<li class="communications__block">
						<svg class="communications__icon svg" width="64" height="64" aria-hidden="true">
							<use xlink:href="svg/sprite.svg#contacts-email-alternate"></use>
						</svg>
						<a class="communications__link" href="mailto:contact@elysian.co">contact@elysian.co</a>
					</li>
				</ul>
			</div>
		</section>
	</main>
{% endblock %}
