{% extends "_layout.njk" %}

{% block inspection %}
	{# <div class="inspection inspection-main"></div> #}
{% endblock %}

{% block content %}
	<main class="container">
		<section class="hero section_hero section_hero_high section_hero_main section" aria-labelledby="hero__title">
			<div class="central">
				<div class="hero__content">
					<h1 class="hero__title" id="hero__title">We&nbsp;build software for <br> your business</h1>

					<p class="hero__paragraph">An&nbsp;international team of&nbsp;developers, designers and security experts</p>
					<a class="link link_dark" href="#main__form-wrapper">Request price estimate</a>
				</div>
			</div>
		</section>

		<section class="information section_information section" aria-labelledby="information__title">
			<div class="central">
				<h2 class="main__title" id="information__title">Why&nbsp;Us?</h2>

				<p class="information__paragraph">Software eats the world. Mobile apps and web services are essential
					for operations of&nbsp;your business. They bring new clients, make everyday operations more efficient
					and provide additional level of&nbsp;flexibility to&nbsp;your work.
				</p>
				<p class="information__paragraph">Building apps is&nbsp;not easy. There are many platforms, devices
					and design languages that require a&nbsp;very high degree of&nbsp;technical expertise. Our
					international team can build projects of&nbsp;any complexity, allowing you to&nbsp;focus
					on&nbsp;your business, instead of&nbsp;trying to&nbsp;learn everything on&nbsp;your own
					and managing in-house team
				</p>
			</div>
		</section>

		<section class="services section_services section" aria-labelledby="services__title">
			<div class="central central_narrow">
				<h2 class="main__title" id="services__title">Services</h2>

				<div class="services__blocks">
					<div class="services__block">
						<svg class="services__image svg" width="95" height="95" role="img" aria-label="multiplatform">
							<use xlink:href="svg/sprite.svg#services-multiplatform" aria-hidden="true"></use>
						</svg>
						<p class="services__paragraph">Development of&nbsp;multiplatform software</p>
					</div>
					<div class="services__block">
						<svg class="services__image svg" width="95" height="95" role="img" aria-label="automation">
							<use xlink:href="svg/sprite.svg#services-automation" aria-hidden="true"></use>
						</svg>
						<p class="services__paragraph">Automation of&nbsp;business tasks</p>
					</div>
					<div class="services__block">
						<svg class="services__image svg" width="95" height="95" role="img" aria-label="design">
							<use xlink:href="svg/sprite.svg#services-design" aria-hidden="true"></use>
						</svg>
						<p class="services__paragraph">UX&nbsp;design and consulting</p>
					</div>
					<div class="services__block">
						<svg class="services__image svg" width="95" height="95" role="img" aria-label="IOT">
							<use xlink:href="svg/sprite.svg#services-IOT" aria-hidden="true"></use>
						</svg>
						<p class="services__paragraph">Design of&nbsp;custom IOT solutions</p>
					</div>
					<div class="services__block">
						<svg class="services__image svg" width="95" height="95" role="img" aria-label="brand">
							<use xlink:href="svg/sprite.svg#services-brand" aria-hidden="true"></use>
						</svg>
						<p class="services__paragraph">Brand identity design</p>
					</div>
					<div class="services__block">
						<svg class="services__image svg" width="95" height="95" role="img" aria-label="security">
							<use xlink:href="svg/sprite.svg#services-security" aria-hidden="true"></use>
						</svg>
						<p class="services__paragraph">Security audit of&nbsp;your corporate software</p>
					</div>
				</div>
			</div>
		</section>

		<section class="partners section_partners_main section" aria-labelledby="partners__title">
			<div class="central">
				<div class="partners__content">
					<h2 class="main__title" id="partners__title">Worked with</h2>

					<div class="partners__images">
						<svg class="partners__image svg" width="91" height="91" role="img" aria-label="semantics">
							<use xlink:href="svg/sprite.svg#partners-semantics" aria-hidden="true"></use>
						</svg>
						<svg class="partners__image svg" width="91" height="91" role="img" aria-label="offline-storage">
							<use xlink:href="svg/sprite.svg#partners-offline-storage" aria-hidden="true"></use>
						</svg>
						<svg class="partners__image svg" width="91" height="91" role="img" aria-label="device-access">
							<use xlink:href="svg/sprite.svg#partners-device-access" aria-hidden="true"></use>
						</svg>
						<svg class="partners__image svg" width="91" height="91" role="img" aria-label="connectivity">
							<use xlink:href="svg/sprite.svg#partners-connectivity" aria-hidden="true"></use>
						</svg>
						<svg class="partners__image svg" width="91" height="91" role="img" aria-label="multimedia">
							<use xlink:href="svg/sprite.svg#partners-multimedia" aria-hidden="true"></use>
						</svg>
						<svg class="partners__image svg" width="91" height="91" role="img" aria-label="perfintegration">
							<use xlink:href="svg/sprite.svg#partners-perfintegration" aria-hidden="true"></use>
						</svg>
						<svg class="partners__image svg" width="91" height="91" role="img" aria-label="css3-styling">
							<use xlink:href="svg/sprite.svg#partners-css3-styling" aria-hidden="true"></use>
						</svg>
					</div>
				</div>
			</div>
		</section>

		<section class="advantages section_advantages section" aria-labelledby="advantages__title">
			<div class="central central_narrow">
				<h2 class="main__title" id="advantages__title">The numbers</h2>

				<div class="advantages__blocks">
					<div class="advantages__block">
						<svg class="advantages__image svg" width="110" height="110" role="img" aria-label="projects">
							<use xlink:href="svg/sprite.svg#numbers-projects" aria-hidden="true"></use>
						</svg>
						<p class="advantages__text">
							<span class="advantages__value">45+</span>
							<span class="advantages__name">Projects</span>
						</p>
					</div>
					<div class="advantages__block">
						<svg class="advantages__image svg" width="110" height="110" role="img" aria-label="markets">
							<use xlink:href="svg/sprite.svg#numbers-markets" aria-hidden="true"></use>
						</svg>
						<p class="advantages__text">
							<span class="advantages__value">20+</span>
							<span class="advantages__name">No.&nbsp;of&nbsp;markets</span>
						</p>
					</div>
					<div class="advantages__block">
						<svg class="advantages__image svg" width="110" height="110" role="img" aria-label="hours">
							<use xlink:href="svg/sprite.svg#numbers-hours" aria-hidden="true"></use>
						</svg>
						<p class="advantages__text">
							<span class="advantages__value">5,500+</span>
							<span class="advantages__name">Total hours spent</span>
						</p>
					</div>
					<div class="advantages__block">
						<svg class="advantages__image svg" width="110" height="110" role="img" aria-label="nationalities">
							<use xlink:href="svg/sprite.svg#numbers-nationalities" aria-hidden="true"></use>
						</svg>
						<p class="advantages__text">
							<span class="advantages__value">25+</span>
							<span class="advantages__name">No.&nbsp;of&nbsp;nationalities in the company</span>
						</p>
					</div>
				</div>
			</div>
		</section>

		<section class="request section_request_main section" aria-labelledby="request__title">
			<div class="central central_request_main">
				<div class="form-wrapper" id="main__form-wrapper">
					<h2 class="main__title main__title_light" id="request__title">Contact&nbsp;us</h2>

					<form class="form" action="php/send-request.php" method="post">
						<div class="form__elements">
							<div class="form__element">
								<label class="form__label" for="form__name">Your name</label>
								<input class="form__input" id="form__name" type="text" placeholder="John Doe" name="name" data-required="true">
							</div>
							<div class="form__element">
								<label class="form__label" for="form__phone">Phone</label>
								<input class="form__input" id="form__phone" type="tel" placeholder="xxx-xxxx-xxx" name="phone" data-required="true">
							</div>
							<div class="form__element">
								<label class="form__label" for="form__email">Your email</label>
								<input class="form__input" id="form__email" type="email" placeholder="JDoe@email.com" name="email" data-required="true">
							</div>
							<div class="form__element">
								<label class="form__label" for="form__organization">Organization</label>
								<input class="form__input" id="form__organization" type="text" placeholder="Org. Name" name="organization">
							</div>
						</div>

						<label class="form__label" for="form__text">Message</label>
						<textarea class="form__textarea" id="form__text" type="text" placeholder=". . . ." name="text"></textarea>

						<button class="form__button button button_dark">Send</button>
						<p class="form__message">Success!</p>
					</form>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
