{% extends "_layout.njk" %}

{% block inspection %}
	{# <div class="inspection inspection-team"></div> #}
{% endblock %}

{% block content %}
	<main class="container">
		<section class="hero section_hero section" aria-labelledby="hero__title">
			<div class="central">
				<div class="hero__content">
					<h1 class="hero__title" id="hero__title">Our Team</h1>

					<p class="hero__paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
						ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et&nbsp;magnis dis parturient montes,
						nascetur ridiculus mus.
					</p>
				</div>
			</div>
		</section>

		<section class="persons section_persons section" aria-labelledby="persons__title">
			<div class="central">
				<h2 class="visually-hidden" id="persons__title">Team cards</h2>

				<ul class="persons-cards">
					<li class="person-card">
						<picture class="person-card__picture">
							<source srcset="images/team-john.webp 1x, images/team-john@2x.webp 2x" type="image/webp">
							<img class="person-card__image"
								src="images/team-john.jpg"
								srcset="images/team-john@2x.jpg 2x"
								width="555"
								height="437"
								alt="John Doe">
						</picture>
						<div class="person-card__logo-wrapper">
							<svg class="person-card__logo svg" width="67" height="67" role="img" aria-label="designer">
								<use xlink:href="svg/sprite.svg#team-designer" aria-hidden="true"></use>
							</svg>
						</div>
						<div class="person-card__body">
							<div class="person-card__text">
								<h2 class="person-card__title">John Doe</h2>
								<h3 class="person-card__subtitle">Job title</h3>
								<p class="person-card__paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
									ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et&nbsp;magnis dis parturient montes,
									nascetur ridiculus mus.
								</p>
							</div>

							<div class="person-card__footer">
								<h3 class="person-card__title person-card__title_footer">Worked with</h3>
								<div class="person-card__colleagues">
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
								</div>
							</div>
						</div>
					</li>

					<li class="person-card">
						<picture class="person-card__picture">
							<source srcset="images/team-john.webp 1x, images/team-john@2x.webp 2x" type="image/webp">
							<img class="person-card__image"
								src="images/team-john.jpg"
								srcset="images/team-john@2x.jpg 2x"
								width="555"
								height="437"
								alt="John Doe">
						</picture>
						<div class="person-card__logo-wrapper">
							<svg class="person-card__logo svg" width="67" height="67" role="img" aria-label="designer">
								<use xlink:href="svg/sprite.svg#team-designer" aria-hidden="true"></use>
							</svg>
						</div>
						<div class="person-card__body">
							<div class="person-card__text">
								<h2 class="person-card__title">John Doe</h2>
								<h3 class="person-card__subtitle">Job title</h3>
								<p class="person-card__paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
									ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et&nbsp;magnis dis parturient montes,
									nascetur ridiculus mus.
								</p>
							</div>

							<div class="person-card__footer">
								<h3 class="person-card__title person-card__title_footer">Worked with</h3>
								<div class="person-card__colleagues">
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
								</div>
							</div>
						</div>
					</li>

					<li class="person-card">
						<picture class="person-card__picture">
							<source srcset="images/team-john.webp 1x, images/team-john@2x.webp 2x" type="image/webp">
							<img class="person-card__image"
								src="images/team-john.jpg"
								srcset="images/team-john@2x.jpg 2x"
								width="555"
								height="437"
								alt="John Doe">
						</picture>
						<div class="person-card__logo-wrapper">
							<svg class="person-card__logo svg" width="67" height="67" role="img" aria-label="designer">
								<use xlink:href="svg/sprite.svg#team-designer" aria-hidden="true"></use>
							</svg>
						</div>
						<div class="person-card__body">
							<div class="person-card__text">
								<h2 class="person-card__title">John Doe</h2>
								<h3 class="person-card__subtitle">Job title</h3>
								<p class="person-card__paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
									ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et&nbsp;magnis dis parturient montes,
									nascetur ridiculus mus.
								</p>
							</div>

							<div class="person-card__footer">
								<h3 class="person-card__title person-card__title_footer">Worked with</h3>
								<div class="person-card__colleagues">
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
								</div>
							</div>
						</div>
					</li>

					<li class="person-card">
						<picture class="person-card__picture">
							<source srcset="images/team-john.webp 1x, images/team-john@2x.webp 2x" type="image/webp">
							<img class="person-card__image"
								src="images/team-john.jpg"
								srcset="images/team-john@2x.jpg 2x"
								width="555"
								height="437"
								alt="John Doe">
						</picture>
						<div class="person-card__logo-wrapper">
							<svg class="person-card__logo svg" width="67" height="67" role="img" aria-label="designer">
								<use xlink:href="svg/sprite.svg#team-designer" aria-hidden="true"></use>
							</svg>
						</div>
						<div class="person-card__body">
							<div class="person-card__text">
								<h2 class="person-card__title">John Doe</h2>
								<h3 class="person-card__subtitle">Job title</h3>
								<p class="person-card__paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
									ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et&nbsp;magnis dis parturient montes,
									nascetur ridiculus mus.
								</p>
							</div>

							<div class="person-card__footer">
								<h3 class="person-card__title person-card__title_footer">Worked with</h3>
								<div class="person-card__colleagues">
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
								</div>
							</div>
						</div>
					</li>

					<li class="person-card">
						<picture class="person-card__picture">
							<source srcset="images/team-john.webp 1x, images/team-john@2x.webp 2x" type="image/webp">
							<img class="person-card__image"
								src="images/team-john.jpg"
								srcset="images/team-john@2x.jpg 2x"
								width="555"
								height="437"
								alt="John Doe">
						</picture>
						<div class="person-card__logo-wrapper">
							<svg class="person-card__logo svg" width="67" height="67" role="img" aria-label="designer">
								<use xlink:href="svg/sprite.svg#team-designer" aria-hidden="true"></use>
							</svg>
						</div>
						<div class="person-card__body">
							<div class="person-card__text">
								<h2 class="person-card__title">John Doe</h2>
								<h3 class="person-card__subtitle">Job title</h3>
								<p class="person-card__paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
									ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et&nbsp;magnis dis parturient montes,
									nascetur ridiculus mus.
								</p>
							</div>

							<div class="person-card__footer">
								<h3 class="person-card__title person-card__title_footer">Worked with</h3>
								<div class="person-card__colleagues">
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
								</div>
							</div>
						</div>
					</li>

					<li class="person-card">
						<picture class="person-card__picture">
							<source srcset="images/team-john.webp 1x, images/team-john@2x.webp 2x" type="image/webp">
							<img class="person-card__image"
								src="images/team-john.jpg"
								srcset="images/team-john@2x.jpg 2x"
								width="555"
								height="437"
								alt="John Doe">
						</picture>
						<div class="person-card__logo-wrapper">
							<svg class="person-card__logo svg" width="67" height="67" role="img" aria-label="designer">
								<use xlink:href="svg/sprite.svg#team-designer" aria-hidden="true"></use>
							</svg>
						</div>
						<div class="person-card__body">
							<div class="person-card__text">
								<h2 class="person-card__title">John Doe</h2>
								<h3 class="person-card__subtitle">Job title</h3>
								<p class="person-card__paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
									ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et&nbsp;magnis dis parturient montes,
									nascetur ridiculus mus.
								</p>
							</div>

							<div class="person-card__footer">
								<h3 class="person-card__title person-card__title_footer">Worked with</h3>
								<div class="person-card__colleagues">
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
								</div>
							</div>
						</div>
					</li>

					<li class="person-card">
						<picture class="person-card__picture">
							<source srcset="images/team-john.webp 1x, images/team-john@2x.webp 2x" type="image/webp">
							<img class="person-card__image"
								src="images/team-john.jpg"
								srcset="images/team-john@2x.jpg 2x"
								width="555"
								height="437"
								alt="John Doe">
						</picture>
						<div class="person-card__logo-wrapper">
							<svg class="person-card__logo svg" width="67" height="67" role="img" aria-label="designer">
								<use xlink:href="svg/sprite.svg#team-designer" aria-hidden="true"></use>
							</svg>
						</div>
						<div class="person-card__body">
							<div class="person-card__text">
								<h2 class="person-card__title">John Doe</h2>
								<h3 class="person-card__subtitle">Job title</h3>
								<p class="person-card__paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
									ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et&nbsp;magnis dis parturient montes,
									nascetur ridiculus mus.
								</p>
							</div>

							<div class="person-card__footer">
								<h3 class="person-card__title person-card__title_footer">Worked with</h3>
								<div class="person-card__colleagues">
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
									<div class="person-card__colleague"></div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
	</main>
{% endblock %}
