<footer class="footer" role="contentinfo">
	<div class="central">
		<div class="footer__inner">
			<p class="footer__copyright">&copy;&nbsp;Elysian 2017</p>

			<div class="footer__links">
				<a class="footer__link" href="#">Terms</a>
				<a class="footer__link" href="#">Privacy</a>
				<a class="footer__link" href="mailto:info@elysian.com">info@elysian.com</a>
			</div>
		</div>
	</div>
</footer>
