<header class="header" role="banner">
	<div class="central">
		<div class="header__inner">
			<a class="logo" href="./index.html">
				<svg class="logo__icon svg" width="150" height="48" role="img" aria-label="logo">
					<use xlink:href="svg/sprite.svg#logo" aria-hidden="true"></use>
				</svg>
			</a>

			<div class="menu-mobile">
				<nav class="menu-main" aria-label="navigation desktop">
					<ul class="menu-main__inner">
						<li class="menu-main__element">
							<a class="menu-main__link" href="./index.html">Home</a>
						</li>
						<li class="menu-main__element">
							<a class="menu-main__link" href="./portfolio.html">Portfolio</a>
						</li>
						<li class="menu-main__element">
							<a class="menu-main__link" href="./team.html">Team Spotlight</a>
						</li>
						<li class="menu-main__element">
							<a class="menu-main__link" href="./contact.html">Contact</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="menu-form">
				<button class="menu-form__button" aria-label="menu button">
					<div class="menu-form__button-inner"></div>
				</button>
			</div>
		</div>
	</div>
</header>
