:root {
	--color-typo-primary: #404040;
	--color-typo-secondary: #333333;
	--color-typo-placeholder: #c2c2c2;

	--color-warning: #ec0e0e;

	--color-line-background: #98d7ff;
	--color-menu-background: #5d6bb6;
}
