@custom-media --desktop-large (width > 1920px);
@custom-media --desktop (width <= 1920px);
@custom-media --desktop-medium (width <= 1400px);
@custom-media --desktop-small (width <= 1200px);
@custom-media --tablet (width <= 992px);
@custom-media --phone-large (width <= 768px);
@custom-media --phone (width <= 576px);
