/* Nexa-Light в _layout.njk */

@font-face {
	font-weight: 700;
	font-family: "Nexa";
	font-style: normal;
	font-display: swap;
	src: url("../fonts/Nexa-Bold.woff2") format("woff2"),
		url("../fonts/Nexa-Bold.woff") format("woff");
}
