.image {
	display: block;
	max-width: 100%;
}

.svg {
	display: block;
	flex-shrink: 0;
}

.visually-hidden {
	position: absolute !important;

	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	overflow: hidden !important;

	border: 0 !important;

	clip: rect(1px, 1px, 1px, 1px) !important;
}

.no-scroll {
	overflow: hidden;
}

.tablet-hidden {
	@media (--tablet) {
		display: none;
	}
}

.tablet-visible {
	display: none;
	@media (--tablet) {
		display: block;
	}
}
